/* Reset User Agent Stylesheet
@import url('reset.css'); */

/* Fonts import 
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|Rubik:300,300i,400,400i,500,700');*/
/* Entypo glyphicons */
@font-face {
  font-family: 'entypo';
  src: url('../fonts/entypo.eot?18584867');
  src: url('../fonts/entypo.eot?18584867#iefix') format('embedded-opentype'),
       url('../fonts/entypo.woff2?18584867') format('woff2'),
       url('../fonts/entypo.woff?18584867') format('woff'),
       url('../fonts/entypo.ttf?18584867') format('truetype'),
       url('../fonts/entypo.svg?18584867#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'entypo';
    src: url('../font/entypo.svg?18584867#entypo') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "entypo";
  font-style: normal;
  font-weight: normal;
  speak: none;
  font-size: 1.2em;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .1em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .1em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-dropbox:before { content: '\e808'; } 
.icon-facebook:before { content: '\e80a'; } 
.icon-facebook-with-circle:before { content: '\e80b'; } 
.icon-google+:before { content: '\e812'; } 
.icon-linkedin:before { content: '\e81e'; } 
.icon-linkedin-with-circle:before { content: '\e81f'; }
.icon-paypal:before { content: '\e825'; } 
.icon-tumblr:before { content: '\e83e'; } 
.icon-tumblr-with-circle:before { content: '\e83f'; } 
.icon-twitter:before { content: '\e840'; } 
.icon-twitter-with-circle:before { content: '\e841'; } 
.icon-youtube:before { content: '\e84f'; } 


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ---------------------------------------------- */
/* --------------- Common elements -------------- */
/* ---------------------------------------------- */
html, body {
	/*height: 100%; */
	font-family: 'Roboto', sans-serif;
	letter-spacing: .2px;
	background-color: #fafafa;
}

header {
	background-color: rgba(255,255,255,0.987);
}

section {
	margin-bottom: 1em;
}

a {
	text-decoration: none;
	color: #888;
}

a:hover {
	text-decoration: none;
}

small {
	font-size: 10px;
	font-weight: 400;
	line-height: 12px;
}

ul {
	list-style-type: none;
}

p {
	font-weight: 400;
	line-height: 21px;
	
}

p.preview {
	letter-spacing: 0.3px;
	font-size: 15px;
	color: #4a4b4c;
}

p.main-article-text {
	margin: 2em 0;
}

h4,
.h4 {
  font-size: 1.3em;
}

textarea:focus, input:focus{
    outline: none;
}

/* ---------------------------------------------- */
/* ------------------- General ------------------ */
/* ---------------------------------------------- */
.main-nav ul li a, .main-footer ul li a {
	/*color: #606060;*/
}

.separator-full {
	border-bottom: 1px solid #ccc;
}

.separator-200 {
	width: 200px; height: 1px; background-color: #ccc; margin-top: 0.7em; margin-bottom: 0.7em;
}

.separator-vertical {
	border-left: 1px solid #ccc;
}

.no-padding { padding-left: 0; padding-right: 0; }
.no-padding-left { padding-left: 0; }
.no-padding-right { padding-right: 0; }

button.dropdown-toggle {
	padding: 10px 20px;
	border: 0px;
	background-color: transparent;
	position: absolute;
    right: 0;
    top: 0;
}

/* ---------------------------------------------- */
/* ---------- Category Specific Styles ---------- */
/* ---------------------------------------------- */

/* Category colors */
.home {
	color: #6f6f70;
}

.top-story {
	color: #ea4242;
}

.news {
	color: #ea4242;
}

.sport {
	color: #64b2f7;
}

.politics {
	color: #ffa800;
}

.lifestyle {
	color: #a142ea;
}

.column {
	color: #0dba69;
}

/* Category tag styles */
.top-story-tag {
	background-color: #ea4242;
	color: #fff;
}

.category-filled {
	border: 1px solid transparent;
	border-radius: 1em;
	text-align: center;
	display: table-cell;
	text-transform: uppercase;
	padding: 3px 7px 1px 7px;
}

.category-outlined {
	border: 1px solid;
	border-radius: 1em;
	text-align: center;
	display: table-cell;
	text-transform: uppercase;
	padding: 3px 7px 1px 7px;
}

.category-header-container {
	margin-bottom: 1em;
}

.category-header-container ul li {
	float: right;
	text-indent: -5px;
	margin-left: 1.5em;
	list-style-type: disc;
}

.category-header-container ul li:first-child {
	padding-left: 0;
	margin-left: 0;
	text-indent: 0;
	list-style-type: none;
}

/* Article Styles */
.article-sm a {
	margin-bottom: 5px;
} 

.article-md a {

} 

.article-4-col {
	margin-bottom: 1em;
}

.article-top-story {
	position: relative;
}

.columns-container {
	background-color: #f0f0f0;
	padding-top: 2em;
	margin-top: -1.5em;
	margin-bottom: 2em;

	box-shadow: inset 0px -2px 4px #ddd;
	-moz-box-shadow: inset  0px -2px 4px #ddd;
	-webkit-box-shadow: inset  0px -2px 4px #ddd;
}

/* COULD BE REMOVED */
article[class^='article-']:hover {
	
}

.md-top-image {
	min-width: 100%;
	min-height: 300px;
	object-fit: cover;
	margin-bottom: 0.7em;
}

.huge-image {
	max-width: 100%; 
	max-height: 100%;
	min-width: auto;
	min-height: 300px;
	object-fit: cover;
	margin-bottom: 0.7em;
}

.big-image {
	max-width: 100%; 
	max-height: 100%;
	min-width: auto;
	min-height: 300px;
	object-fit: cover;
	margin-bottom: 0.7em;
}

.big-image-4-col {
	max-width: 100%; 
	max-height: 100%;
	min-width: auto;
	min-height: 220px;
	object-fit: cover;
	margin-bottom: 0.8em;
}

.md-image {
	max-width: 100%; 
	max-height: 100%;
	min-width: 110px;
	min-height: 110px;
	object-fit: cover;
	margin-bottom: 5px;
}

.btn-grey-outlined {
	border: 1px solid #ccc; 
	border-radius: 2em; 
	text-align: center; 
	padding: 0.4em 0;
	margin-top: 10px;
}

.btn-grey-outlined:hover {
	background-color: #ccc;
}

.btn-grey-outlined:active {
	background-color: #d3d3d3;
}


/* ---------------------------------------------- */
/* ---------------- Title Styles ---------------- */
/* ---------------------------------------------- */
.md-title-container {
	padding-left: 5px;
	margin-bottom: 10px;
}

.bg-title {
	color: #303133;
	margin-bottom: 0.5em;
	font-weight: 600;
	line-height: 30px;
}

.bg-title-4-col {
	color: #303133;
	margin-bottom: 0.5em;
	font-weight: 600;
	line-height: 30px;
}

.bg-title-inverse {
	color: #eee;
	margin-top: 8px;
	font-weight: 600;
	line-height: 30px;
}

.md-title {
	color: #303133;
	font-weight: 400;
	line-height: 21px;
	margin-top: 3px;
	margin-bottom: 5px;
}

.md-title-inverse {
	color: #eee;
	font-weight: 500;
	letter-spacing: .3px;
	line-height: 21px;
}

.sm-title {
	color: #4a4b4c;
	font-weight: 400;
	margin-top: 5px;
}

.top-story-container {
	position: relative;
}

.top-story-title-container {
	position: absolute; 
	bottom: 10px; 
	padding: 1.2em 1.3em;

	background: transparent; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(transparent, #111111); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent, #111111); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent, #111111); /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent, #111111); /* Standard syntax */
}

.big-title-container h2, .md-title-container h5 {
	margin-top: 0.2em;
}

.time-comments-container { margin: 0; }

.time-comments-container li {
	margin-right: 0;
}

.time-comments-container li:first-child {
	float: left;
	margin-right: 15px;
}

.time-comments-container li small span {
	padding-right: 0.5em;
}

.small-txt-inverse {
	color: #eee;
}

.time-comments-container li small {
	font-size: 13px;
}

.uppercase { text-transform: uppercase; }

/* ---------------------------------------------- */
/* ------------------ Comments ------------------ */
/* ---------------------------------------------- */
.comment-input-area {
	padding: 0;
}
.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.2) 1px 3px 8px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}

/* ---------------------------------------------- */
/* ------------------- Header ------------------- */
/* ---------------------------------------------- */
#top-bar {  
	background-color: rgba(255,255,255,0.987); 
}

#top-bar ul {
	margin: 0;
}

#top-bar li {
	display: inline;
	padding: 1em;
	
	float: left;
}

#topBarLogo { 

}

.banner {
	padding: 2em 0;
	color: #eee;
	text-align: center;
	font-size: 1.5em;
	box-shadow: inset 0px 0px 8px rgba(68,68,68,0.1);
	-moz-box-shadow: inset  0px 0px 8px rgba(68,68,68,0.1);
	-webkit-box-shadow: inset  0px 0px 8px rgba(68,68,68,0.1);
}

.banner h2 {
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.banner-home {
	background-color: #39b56f;
}
.banner-top-price {
	background-color: #ea4242;
}
.banner-kolumne {
	background-color: #0dba69;
}
.banner-vijesti {
	background-color: #ea4242;
}
.banner-politika {
	background-color: #ffa800;
}
.banner-sport {
	background-color: #64b2f7;
}
.banner-lifestyle {
	background-color: #a142ea;
}


/* Navigation bar */
.main-nav {
	background-color: rgba(255,255,255,0.987);
	border: none;
	border-radius: 0;
	display: block;
	box-shadow: 0px 2px 4px rgba(68,68,68,0.15);
	-moz-box-shadow: 0px 2px 4pxrgba(68,68,68,0.15);
	-webkit-box-shadow: 0px 2px 4px rgba(68,68,68,0.15);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=270, Color='#dddddd')";
	filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=270, Color='#dddddd')";
}

.fixed {
    position:fixed;
    top:0;
}

.login-icon {
	border-width: 0 1px 0 1px;
	border-style: solid;
	border-color: #ccc;
}

.search-box-top {
	border: 0px;
	background-color: transparent; 
	padding: 15px 15px 15px 0px;
}
.search-box-top:active:focus {outline: none;}

.search-box-top-input {
	width: 150px;
}

a.search-box-top {
	padding-left: 15px;
}

.grey {
	color: #ccc;
}

/* ---------------------------------------------- */
/* ------------------- Footer ------------------- */
/* ---------------------------------------------- */
.main-footer {
	margin-bottom: 0 !important;
	background-color: #fefefe;
	border: none;
	border-radius: 0;

	box-shadow: 0px -2px 4px #ddd;
	-moz-box-shadow: 0px -2px 4px #ddd;
	-webkit-box-shadow: 0px -2px 4px #ddd;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#dddddd')";
	filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#dddddd')";
}
.copyright-container {
	padding-top: 8px;
	padding-bottom: 0px;
	font-size: 11px;
	color: #666;
	background-color: #eee;
}

/* ---------------------------------------------- */
/* ----------- User Login/Registration ---------- */
/* ---------------------------------------------- */
.registration-container {
	padding: 5em;
	background-color: #fff;
}

#input-fields-group {
	padding: 1em 0;
}

small[class^='help-block'] {
	font-size: 1em;
}

/* ---------------------------------------------- */
/* ----------- User Login/Registration ---------- */
/* ---------------------------------------------- */
.registration-container {
	padding: 5em;
	background-color: #fff;
}

#input-fields-group {
	padding: 1em 0;
}

small[class^='help-block'] {
	font-size: 1em;
}

/* ---------------------------------------------- */
/* ----------------- Search box  ---------------- */
/* ---------------------------------------------- */

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

/* ---------------------------------------------- */
/* ---------------- Devices Grid ---------------- */
/* ---------------------------------------------- */
@media (min-width: 768px) {
	.md-top-image {
		max-width: 100%; 
		max-height: 100%;
		min-width: 200px;
		min-height: 200px;
		object-fit: cover;
		margin-bottom: 0.7em;
	}
	.huge-image {
		max-width: 100%; 
		max-height: 100%;
		min-width: 408px;
		min-height: 410px;
		object-fit: cover;
		margin-bottom: 0.7em;
	}
	.big-image {
		max-width: 100%; 
		max-height: 100%;
		min-width: 408px;
		min-height: 385px;
		object-fit: cover;
		margin-bottom: 0.7em;
	}
	.big-image-4-col {
		max-width: 100%; 
		max-height: 100%;
		min-width: 230px;
		min-height: 220px;
		object-fit: cover;
		margin-bottom: 0.7em;
	}
	.md-image {
		max-width: 100%; 
		max-height: 100%;
		min-width: 90px;
		min-height: 90px;
		object-fit: cover;
		margin-bottom: 10px;
	}
	.md-title-container {
		padding-left: 15px;
		margin-left: 0px;
	}
	h4,
	.h4 {
	  font-size: 1.2em;
	}
	.fix-margin-right { margin-right: 0; }
}
@media (min-width: 768px) and (max-width: 991px) {
	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    /*.navbar-left,.navbar-right {
        float: none !important;
    }*/
	.navbar-nav .open .dropdown-menu > li > a {
		line-height: 20px;
	}
	.navbar-nav .open .dropdown-menu > li > a,
	.navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 5px 15px 5px 25px;
	}
	.dropdown-menu > li > a {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		line-height: 1.42857143;
		color: #333;
		white-space: nowrap;
	}
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        /*margin: 7.5px -15px;*/
		margin: 7.5px 50px 7.5px -15px
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
@media all and (min-width: 992px) {
	#topBar { display: block; }
	#menuToggleButton { display: none; }
	.logo { display: inline; float: left; padding-left: 1em; }
	.navBarContent { padding: 0 0 0 1.5em; margin: 0; width: auto; display: inline; float: left; }
	.navBarContent a { padding: 0; }
	.navBarContent a:hover, .navBarContent a:active { background-color: transparent; }
	#pageFooter ul li { clear: none; display: inline; }

	.md-top-image {
		max-width: 100%; 
		max-height: 100%;
		min-width: 200px;
		min-height: 220px;
		object-fit: cover;
		margin-bottom: 0.7em;
	}
	.huge-image {
		max-width: 100%; 
		max-height: 100%;
		min-width: 400px;
		min-height: 450px;
		object-fit: cover;
		margin-bottom: 0.7em;
	}
	.big-image {
		max-width: 100%; 
		max-height: 100%;
		min-width: 280px;
		min-height: 265px;
		object-fit: cover;
		margin-bottom: 0.7em;
	}
	.md-title-container {
		padding-right: 0px;
		margin-left: 0px;
	}
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus {
		background-color: transparent;
	}
}
@media (min-width: 1200px) {
	.md-title-container {
		padding-right: 10px;
		margin-left: -10px;
	}
}