.main-nav {
	margin: 0;
	box-shadow: none;
}

#about-heading {

	background: url('../img/people.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	color: #eee;
}

#about-heading h2 {
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 3em;
}

#about-heading p {
	margin-top: 1em;
	font-size: 1.65em;
}

#overlay {
	background-color: rgba(16, 86, 125, 0.7);
	padding: 8em 0;
}

.about-content-container {
	padding: 2em 0;
}

#contact-table {
	margin: 5em 0;
}

