/* ---------------------------------------------- */
/* ------------------ User panel ---------------- */
/* ---------------------------------------------- */
.usr-avatar-sm {
	width: 32px;
	height: 32px;
}

#users-table td {
	vertical-align: middle;
}