.main-nav {
	margin: 0;
	box-shadow: none;
}

#about-heading {
	background: url('../img/people.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

#about-heading h5 {
	text-transform: uppercase;
	font-size: 3em;
}

#about-heading p {
	font-size: 2em;
	color: #fff;
}

#overlay {
	background-color: rgba(7, 60, 91, 0.7);
	padding: 8em 0;
}

.about-content-container {
	padding: 2em 0;
}

#contact-table {
	margin: 5em 0;
}