/* Reset User Agent Stylesheet
@import url('reset.css'); */

/* Fonts import 
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|Rubik:300,300i,400,400i,500,700');*/

/* Definitions of grid system and common elements */

/* Grid system */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ---------------------------------------------- */
/* --------------- Common elements -------------- */
/* ---------------------------------------------- */
html, body {
	/* height: 100%; 
	font-family: 'Rubik', sans-serif;*/
	background-color: #fefefe;
}

section {
	margin-bottom: 2em;
}

a {
	text-decoration: none;
	color: #888;
}

a:hover {
	text-decoration: none;
}

small {
	font-size: 0.7em;
	margin: 0.1em 0.6em 0.15em 0.6em;
}

ul {
	list-style-type: none;
	overflow: hidden;
}

p {
	font-weight: 300;
	color: #626262;
	line-height: 1.4em;
	letter-spacing: 0.3px;
}

p.main-article-text {
	margin: 2em 0;
}

textarea:focus, input:focus{
    outline: none;
}

/* ---------------------------------------------- */
/* ------------------- General ------------------ */
/* ---------------------------------------------- */
.main-nav ul li a, .main-footer ul li a {
	color: #606060;
}

.separator-full {
	border-bottom: 1px solid #ccc;
}

.separator-200 {
	width: 200px; height: 1px; background-color: #ccc; margin-top: 0.7em; margin-bottom: 0.7em;
}

.separator-vertical {
	border-left: 1px solid #ccc;
}

/* ---------------------------------------------- */
/* ---------- Category Specific Styles ---------- */
/* ---------------------------------------------- */

/* Category colors and bullet styles*/
.top-story {
	background-color: red;
	color: #fff;
}

.world_region {
	color: #ea4242;
}

.business {
	color: #ea9942;
}

.sport {
	color: #71bc1f;
}

.culture {
	color: #76a1f9;
}

.lifestyle {
	color: #bc76f9;
}

.column {
	color: #42adea;
}

/* Category tag styles */
.category-filled {
	padding-bottom: 2px;
	border: 1px solid transparent;
	border-radius: 2em;
	font-weight: bold;
	text-align: center;
	letter-spacing: 1px;
	display: table-cell;
	text-transform: uppercase;
}

.category-outlined {
	padding-bottom: 2px;
	border: 1px solid;
	border-radius: 2em;
	font-weight: bold;
	text-align: center;
	letter-spacing: 1px;
	display: table-cell;
	text-transform: uppercase;
}

.category-header-container {
	margin-bottom: 0.8em;
	font-weight: bold;
}

.category-header-container ul li {
	float: right;
	text-indent: -5px;
	margin-left: 1.5em;
}

.category-header-container ul li:first-child {
	padding-left: 0;
	margin-left: 0;
	text-indent: 0;
	font-size: 1.2em;
}

.category-active {
	list-style-type: disc; 
}

.category-inactive {
	list-style-type: circle; 
}

/* Article Styles */
.article-sm a {

} 

.article-md {

} 

.article-top-story {
	position: relative;
}

/* COULD BE REMOVED */
article[class^='article-']:hover {
	background-color: #ececec;
}

.huge-image {
	min-width: 100%;
	min-height: 300px;
	object-fit: cover;
	margin-bottom: 0.7em;
}

.big-image {
	max-width: 100%; 
	max-height: 100%;
	min-width: auto;
	min-height: 300px;
	object-fit: cover;
	margin-bottom: 0.7em;
}

.md-image {
	max-width: 100%; 
	max-height: 100%;
	min-width: 80px;
	min-height: 80px;
	object-fit: cover;
	margin-bottom: 0.7em;
}

/* TODO: Quote style */

/* TODO: Button styles */
.btn-grey-outlined {
	border: 1px solid #ccc; 
	border-radius: 2em; 
	text-align: center; 
	padding: 0.4em 0;
}

.btn-grey-outlined:hover {
	background-color: #ccc;
}

.btn-grey-outlined:active {
	background-color: #d3d3d3;
}


/* ---------------------------------------------- */
/* ---------------- Title Styles ---------------- */
/* ---------------------------------------------- */
.page-title {
	letter-spacing: 0.01em;
	color: #eee;
	font-weight: 500;
	font-size: 2.5em;
	text-align: center;
}

.title-white {
	color: #eee;
}

.big-title-container {
	padding: 0;
}

.md-title-container {
	padding-right: 10px;
	margin-left: -10px;
}

.bg-title {
	font-size: 1.75em;
	color: #3a3a3a;
	margin-bottom: 0.5em;
}

.bg-title-inverse {
	font-size: 1.75em;
	color: #fff;
	margin-bottom: 0.5em;
}

.md-title {
	font-size: 1em;
	color: #3a3a3a;
}

.top-story-title-container {
	position: absolute;
	padding-right: 2.5em;
	bottom: 1.5em;
	left: 2.5em;
}

.big-title-container h2, .md-title-container h5 {
	margin-top: 0.3em;
}

.time-comments-container { margin: 0; }

.time-comments-container li {
	float: left;
	padding-right: 1em;
}

.time-comments-container li p img {
	margin-right: 0.5em;
}

.timeIcon {
	width: 1em;
	height: 1em;	
}

.commentIcon {
	width: 1em;
	height: 1em;
}

.small-txt {
	font-size: 0.8em;
}

.small-txt-inverse {
	font-size: 0.8em;
	color: #fff;
}


.uppercase { text-transform: uppercase; }

/* ---------------------------------------------- */
/* ------------------ Comments ------------------ */
/* ---------------------------------------------- */
.comment-input-area {
	padding: 0;
}

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.2) 1px 3px 8px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}

/* ---------------------------------------------- */
/* ------------------- Header ------------------- */
/* ---------------------------------------------- */
#topBar { 
	padding: 0.35em 8.33%; 
	background-color: #4f843e; 
}

#topBar li {
	display: inline;
	padding-right: 1.5em;
	font-size: 0.875em; 
	float: left;
}

#topBar li:last-child {
	float: right;
}

#topBarLogo { 
	
	font-weight: 700;  
	margin: 1.3em;
}

.banner {
	padding: .75em 0;
	font-size: 3.2em;
	font-weight: bold;
	color: #eee;
	background-color: #1ba933;
	letter-spacing: 2px;
	text-align: center;
}

/* Navigation bar */
.main-nav {
	background-color: #fefefe;
	border: none;
	border-radius: 0;

	box-shadow: 0px 3px 4px #ccc;
	-moz-box-shadow: 0px 3px 4px #ccc;
	-webkit-box-shadow: 0px 3px 4px #ccc;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=270, Color='#cccccc')";
	filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=270, Color='#cccccc')";
}


.fixed {
    position:fixed;
    top:0;
}

.login-icon {
	border-width: 0 1px 0 1px;
	border-style: solid;
	border-color: #ccc;
}

.search-box-top {
	border: 0px;
	background-color: transparent; 
	padding: 15px 15px 15px 0px;
}
.search-box-top:active:focus {outline: none;}

a.search-box-top {
	padding-left: 15px;
}

.grey {
	color: #ccc;
}

/* ---------------------------------------------- */
/* ------------------- Footer ------------------- */
/* ---------------------------------------------- */
.main-footer {
	margin-bottom: 0 !important;
	background-color: #fefefe;
	border: none;
	border-radius: 0;

	box-shadow: 0px -3px 4px #ccc;
	-moz-box-shadow: 0px -3px 4px #ccc;
	-webkit-box-shadow: 0px -3px 4px #ccc;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#cccccc')";
	filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#cccccc')";
}


/* ---------------------------------------------- */
/* ----------- User Login/Registration ---------- */
/* ---------------------------------------------- */
.registration-container {
	padding: 5em;
	background-color: #fff;
}

#input-fields-group {
	padding: 1em 0;
}

small[class^='help-block'] {
	font-size: 1em;
}

/* ---------------------------------------------- */
/* ---------------- Desktop Grid ---------------- */
/* ---------------------------------------------- */
@media all and (min-width: 992px) {

	#topBar { display: block; }
	#menuToggleButton { display: none; }
	.logo { display: inline; float: left; padding-left: 1em; }
	.navBarContent { padding: 0 0 0 1.5em; margin: 0; width: auto; display: inline; float: left; }
	.navBarContent a { padding: 0; }
	.navBarContent a:hover, .navBarContent a:active { background-color: transparent; }
	#pageFooter ul li { clear: none; display: inline; }
}
